/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
}

.title {
  padding: 10px;
}

.overview {
  padding: 15px;
}

.caution {
  padding: 15px;
}

.form {
  width: 600px;
  margin: 15px auto;
}

.result {
  text-align: center;
  margin: 15px;
}

.result span {
  color: red;
  font-size: 30px;
}

.detail {
  padding: 15px;
}

.tax {
  padding: 15px;
}

.insurance {
  padding: 15px;
}

.insurance span {
  font-size: 15px;
}